{% extends 'admin/layout.html.twig' %}

{% block title %}New VaoyageOrganise{% endblock %}

{% block content %}
    <h1>Create new VaoyageOrganise</h1>

    {{ include('admin/vaoyage_organise/_form.html.twig') }}

    <a href="{{ path('vaoyage_organise_index') }}">back to list</a>
{% endblock %}